.productsWrapper
      display: grid
.gridCol3
      grid-template-columns: 1fr 1fr 1fr 1fr
      grid-gap: 1rem

.gridCol4
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr
      grid-gap: 1rem
.gridItem3
      grid-column-start: 5
      grid-row: 1 / span 9999
      
.gridItem4
      grid-column-start: 6
      grid-row: 1 / span 9999