$card-width: 240px
.wrapper
      display: flex
      position: relative
.productsWrapper
      display: grid
      grid-gap: 1em
      width: 100%
      grid-auto-rows: auto
.gridControlls
      display: flex
      flex-direction: row
@media screen and (max-width: 1040px)
      .gridControlls
            display: none
.gridCol3
      grid-template-columns: repeat(auto-fill, minmax($card-width, calc(33.33% - 1em)))
@media screen and (max-width: 768px)
      .gridCol3
            -template-columns: repeat(auto-fill, minmax($card-width, calc(50% - 1em)))
@media screen and (max-width: 480px)
      .gridCol3
            grid-template-columns: repeat(auto-fill, minmax(100%, calc(100% - 1em)))
.gridCol4
      grid-template-columns: repeat(auto-fill, minmax($card-width, calc(25% - 1em)))
@media screen and (max-width: 1040px)
      .gridCol4
            grid-template-columns: repeat(auto-fill, minmax($card-width, calc(33.33% - 1em)))
@media screen and (max-width: 768px)
      .gridCol4
            grid-template-columns: repeat(auto-fill, minmax($card-width, calc(50% - 1em)))
@media screen and (max-width: 480px)
      .gridCol4
            grid-template-columns: repeat(auto-fill, minmax(100%, calc(100% - 1em)))

.toggleFiltersButton
      position: absolute
      right: 60px
      top: -42px
      display: block
      z-index: 1
.backdropshadow
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(0, 0, 0, 0.5)
      z-index: 1
      display: none
      &.active
            display: block
.centeredLoading
      display: flex
      justify-content: center
      align-items: center
      height: 100vh
      grid-column: 1 / -1
