@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.openNavbar{
    display: block;
    background-size: 30px;
    background-position: center;
    width: 32px;
    height: 32px;
}